<p style="color: green"><%= notice %></p>

<%= render @tarefa %>

<div>
  <%= link_to "Edit this tarefa", edit_tarefa_path(@tarefa) %> |
  <%= link_to "Back to tarefas", tarefas_path %>

  <%= button_to "Destroy this tarefa", @tarefa, method: :delete %>
<%#<h2>Checklist</h2>%>
<%#<ul>
  <%# @tarefa.checklist_items.each do |item| %>
    <%#<li><%# item%> </li>
  <%# end %>
<%#</ul>%>
<%#</div>%>
