<%= link_to 'Logout', '/logout', method: :delete %>
<h1> Bem vindo ao Proteka App! </h1>

<ul>
    <li><%= link_to "Ver Postos", postos_path %></li>
  
    <li><%= link_to "Ver Usuarios", usuarios_path %></li>

    <li><%= link_to "Ver Tarefas", tarefas_path %></li>

    <li><%= link_to "Ver Checklist", checklists_path %></li>

    <li><%= link_to "Roteiros", roteiros_path %></li>
</ul>