<h1>Editar Roteiro</h1>

<%= form_for @roteiro, url: roteiro_path(@roteiro), method: :patch do |form| %>
    <%= form.label :nome %>
    <%= form.text_field :nome %>
<br>
    <%= form.label :posto_id %>
    <%= form.collection_select :posto_id, Posto.all, :id, :cliente, selected: @posto.id %>
<br>
    <p><%= form.label :usuario %></p>
    <%= form.collection_select :usuario_ids, @usuarios, :id, :nome, { selected: @roteiro.usuarios }, { multiple: true } %>
<br><br>
    <%= form.submit %>
<% end %>