<h1>Novo Roteiro</h1>

<%= form_with model: @roteiro, url: roteiros_path do |form| %>
  <%= form.label :nome %>
  <%= form.text_field :nome %>
<br>
  <p><%= form.label :usuario %></p>
  <%= form.collection_select :usuario_ids, @usuarios, :id, :nome, { include_hidden: false},  {multiple: true}  %>
 <br> 
  <p><%= form.label :posto %></p>
  <%= form.collection_select(:posto_id, @postos, :id, :cliente, {prompt: "Selecione o Posto"}) %>
<br>
 <br>
  <%= form.submit %>
<% end %>
