<h1>Novo Roteiro</h1>

<%= form_with model: @roteiro, url: roteiros_path do |form| %>
  <%= form.label :nome %>
  <%= form.text_field :nome %>

  <%= form.label :usuario_ids %>
  <%= form.collection_select(:usuario_ids, @usuarios, :id, :nome,{prompt: "Selecione o usuario"}, {multiple: true}) %>

  <%= form.label :posto_ids %>
  <%= form.collection_select(:posto_id, @postos, :id, :cliente, {prompt: "Selecione o Posto", include_blank: false }) %>

 
  <%= form.submit %>
<% end %>
