<h1>Postos </h1>
<%= link_to "Criar Novo Posto", new_posto_path %>
<table>
    <thead>
        <tr>
            <th>Postos</th>
            <th>Opções</th>
    </thead>
    <tbody>
        <% @posto.each do |posto| %>
        <tr>
            <td><%= posto.cliente%></td>
            <td>
                <%= link_to "Editar", edit_posto_path(posto) %>
                <%= link_to "Excluir", posto_path(posto), method: :delete, data:{confirm: "Você tem certeza de querer excluir esse posto?"}%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<%= link_to "Voltar", :back%>