<h1>Editar</h1>
<%= form_for @usuario, url: usuario_path(@usuario), metho: :patch do |f| %>
    <%= f.label :nome%>
    <%= f.text_field :nome %>
    <br>
    <%= f.label :re%>
    <%= f.text_field :re %>
    <br>
    <%= f.label :senha%>
    <%= f.password_field :senha %>

    <Br>
    <%= f.submit "Salvar" %>
    <%= link_to "Cancelar", :back %>
<%end%>