<h1>Cadastro de Usuarios</h1>
<%= form_with model: @usuario, url: usuarios_path do |f| %>
    <div class="field">
        <%= f.label :nome %><br>
        <%= f.text_field :nome %>
    </div>
    
     <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
        <%= f.label :re %><br>
        <%= f.text_field :re %>
    </div>
    
    <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Criar Usuario" %>
<%end%>
<%= link_to "Cancelar", :back %>