<h1>Detalhes Usuarios</h1>
<%= form_with model: @usuario, url: usuarios_path do |f| %>
    <%= f.label :nome%>
    <%= f.text_field :nome%>
    <br>
    <%= f.label :re %>
    <%= f.text_field :re %>
    <br>
<%end%>

<%= link_to "Voltar", :back %>